@media screen and (min-width: 1024px) {
  body {
    min-height: 100vh;
  }
}

@font-face {
  font-family: "fontProjeto";
  src: url(/public/Southam_Demo.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {

}


body {
  background: #f2f2f2;
  color: #333;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
}

nav {
  margin: 10px auto 10px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd
}

nav h3 {
  font-family: "fontProjeto";
}

nav a {
  margin-left: 12px;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  border-top: 1px solid #ddd
}

footer li {
  display: inline;
  margin-left: 10px;
  justify-content: center;
  list-style: none;
}